body {
    font-family: $text;
    color: $black;
    padding: 1em;
}

a {
    text-decoration: none;
    color: $black;
    transition: color 0.2s;
    &:hover {
        color: $black;
    }
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}
