.button {
    @extend %buttonReset;
    padding: 0.5em;
    line-height: 1em;
    border: 0.2rem solid $black;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.2s;
    cursor: pointer;
    &:hover {
        background: $green;
    }
    &:focus {
        outline: none;
        box-shadow: $green 0 0 0 0.2rem;
    }
}

textarea {
    font-family: $text;
    display: block;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    &:focus {
        outline: none;
        box-shadow: inset $green 0 0 0 0.2rem;
    }
    &.invalid {
        box-shadow: inset $red 0 0 0 0.2rem;
    }
}
