.header {
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid $black;
    margin-bottom: 1em;
}
.header__hero {
    display: flex;
    align-items: center;
}
.header__hero-logo {
    height: 1.5em;
    width: 10em;
    margin-right: 0.5em;
}
.header__hero-text {
    font-family: $code;
    color: $black;
}

.header__user {
    display: flex;
    align-items: center;
}
.user__avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}
.user__name {
}
.header__logout {
    font-size: 0.8em;
    margin-left: 1em;
}
