.messages {
}
.messages__title {
}
.messages__list {
    padding-top: 1em;
}
.messages__form,
.message {
    display: block;
    list-style: none;
    border: 0.1rem solid $black;
    border-left-width: 1rem;
    padding: 0.5em;
    margin-bottom: 1em;
}
.message__text {
}
.message__user {
    display: block;
    font-size: 0.8em;
    color: $grey;
}
.messages__form {
    padding: 0;
    display: flex;
    position: relative;
}

.messages__icon {
    position: absolute;
    top: 50%;
    left: 0.5em;
    width: 2em;
    height: 2em;
    transform: translateY(-50%);
}

.messages__input {
    flex-grow: 1;
    padding-left: 3em;
}
.messages__button {
    width: 10em;
    border: none;
    background: $green;
    border-left: 0.1rem solid $black;
    font-size: 0.8em;
    transition: background 0.2s, color 0.2s;
    &:focus {
        box-shadow: inset $white 0 0 0 0.2rem;
    }
    &:hover {
        background: $black;
        color: $white;
    }
}
