.loader {
    height: 50vh;
    padding: 10em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader__icon {
    fill: $green;
    width: 2em;
    height: 2em;
    animation: spin linear infinite 1s;
}

.loader__message {
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
